.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #007bff;
  color: white;
  padding: 15px;
  text-align: center;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.hidden {
  transform: translateY(100%);
  opacity: 0;
}

p{
  color: whitesmoke;
}