.transaction-history {
  width: 80%;
  margin:110px auto 60px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
}

.error {
  color: red;
}

.view-btn, .download-btn {
  margin: 5px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.view-btn:hover {
  background-color: #0056b3;
}

.download-btn {
  background-color: #28a745;
}

.download-btn:hover {
  background-color: #218838;
}

